@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0dd;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 700;
  font-size: 30px;
}

header ul.navigation {
  float: right;
  list-style: none;
  font-size: 20px;
}

header ul.navigation li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
}

header ul.navigation li:hover {
  opacity: 0.5;
}

header .banner {
  margin: 50px 0;
  background: url("./banner/banner.jpeg") no-repeat;

  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(233, 221, 190);
  position: relative;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

}

main .item {
  width: 7%;
  margin-bottom: 50px;
  background:rgb(231, 224, 207);
  overflow: hidden;
}

main .item img {
width: 100%;
height: 70px;
cursor: pointer;
transition: transform 1000ms ease;
}

main .item img:hover {
transform: scale(1.05);
opacity: 0.75;
}

main p {
  margin: 5px 5px;
  text-align: center;
  font-weight: 700;
}

footer {
  text-align: right;
  font-size: 30px;
  font-style: italic;
}
